@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

:root {
    /* colores */
    --main-color: #111827;
    --main-text-color: #F9FAFB;
    --acentos: #3B82F6;
    --borde-suave: #f9fafb50;
    --bg-movie-card: #3b83f62c;
    /* tipografía */
    --main-font: 'Inter', sans-serif;
    --font-weight-normal: 400;
    --font-weight-bold: 700;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--main-color);
    font-family: var(--main-font);
}


/* ---------- HEADER ---------- */

header {
    display: flex;
    border-bottom: 1px solid var(--borde-suave);
    width: 100vw;
    height: 60px;
}

.container {
    display: flex;
    height: 100%;
    width: 70%;
    margin: auto;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
}

.logo {
    color: var(--main-text-color);
    font-size: 20px;
    font-weight: var(--font-weight-bold);
}

.buscador-container {
    flex-grow: 1;
}

.buscador {
    box-sizing: border-box;
    width: 100%;
    padding: 8px 16px;
    border: 1px solid var(--borde-suave);
    border-radius: 8px;
    background-color: var(--main-color);
    color: var(--main-text-color);
    font-size: 16px;
}

.buscador::placeholder {
    color: var(--borde-suave);
}

.buscador:focus {
    outline: none;
}

.favorites-btn {
    padding: 4px 16px;
    border-radius: 5px;
    border: 1px solid var(--borde-suave);
    background-color: var(--main-color);
    color: var(--main-text-color);
    transition: background-color .1s, color .1s;
}

.favorites-btn:hover {
    background-color: var(--main-text-color);
    color: var(--main-color);
    cursor: pointer;
}

/* ---------- MENSAJE EMERGENTE ---------- */

.notification {
    position: fixed;
    bottom: -40px;
    left: 50%;
    transform: translateX(-50%);
    padding: 16px 32px;
    border-radius: 8px;
    color: var(--main-text-color);
    font-weight: var(--font-weight-bold);
    box-shadow: 0 4px 12px rgba(0, 0, 0, .2);
    opacity: 0;
    transition: opacity .3s ease, bottom .3s ease;
}

.notification.show {
    opacity: 1;
    bottom: 40px;
}

.notification.success {
    background-color: #22C55E;
}

.notification.error {
    background-color: #EF4444;
}


/* ---------- MAIN ---------- */

main {
    display: grid;
    width: 70%;
    margin: auto;
    padding: 20px 0;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
}

.peli {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    overflow: hidden;
    padding-bottom: 10px;
    background-color: var(--bg-movie-card);
    color: var(--main-text-color);
    box-shadow: 3px 3px 10px #00000050;
}

.peli-poster {
    width: 100%;
}

.peli-poster img {
    width: 100%;
}

.peli-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 10px;
}

.peli-titulo {
    font-size: 20px;
    text-align: center;
}

.peli-año {
    color: var(--borde-suave);
}

.add-favorite-btn, .delete-favorite-btn {
    border: none;
    cursor: pointer;
    padding: 3px 10px;
    border-radius: 3px;
    color: var(--main-text-color);
}

.delete-favorite-btn {
    background-color: #EF4444;
}

.add-favorite-btn {
    background-color: #22C55E;

}


/* ---------- FAVORITOS ---------- */

.info-msg {
    color: var(--main-text-color);
}